mixin page-footer 
    footer.page-footer 
        .page-footer__wrapper 
            .page-footer__top-block
                .page-footer__footer-info
                    a.page-footer__logo
                    .page-foter__number-block
                        a.page-footer__phone-number 8(800)555-51-52
                        p.page-footer__phone-info ЗВОНОК ПО РОССИИ БЕСПЛАТНЫЙ
                ul.page-footer__footer-links-1
                    li 
                        a.page-footer__footer-link акустика
                    li 
                        a.page-footer__footer-link hi-fi
                    li 
                        a.page-footer__footer-link винил
                    li 
                        a.page-footer__footer-link наушники
                    li 
                        a.page-footer__footer-link телевизоры
                    li 
                        a.page-footer__footer-link проекторы
                ul.page-footer__footer-links-2
                    li 
                        a.page-footer__footer-link акустика
                    li 
                        a.page-footer__footer-link hi-fi
                    li 
                        a.page-footer__footer-link винил
                    li 
                        a.page-footer__footer-link наушники
                    li 
                        a.page-footer__footer-link телевизоры
                    li 
                        a.page-footer__footer-link проекторы
                ul.page-footer__footer-links-3
                    li 
                        a.page-footer__footer-link--arrow о компании
                    li 
                        a.page-footer__footer-link--arrow контакты
                    li 
                        a.page-footer__footer-link--arrow салоны
                    li 
                        a.page-footer__footer-link--arrow новости
            .page-footer__footer-block
                span 2021 © / PULT.RU / ВСЕ ПРАВА ЗАЩИЩЕНЫ
